<h1>{{title}}</h1>
<div class="pull-right">
  Перейти к списку:
  <a ng-href="/admin/countries">- стран -</a>
  <a ng-href="/admin/places">мест -</a>
</div>
<button ng-hide="show_form" type="button" class="btn btn-primary" ng-click="showFormForNew()">Добавить тур</button>
<div ng-show="show_form">
<br>
<form>
<div class="form-group col-md-6">
  <label>Название:</label>
  <input type="text" class="form-control" ng-model="newTour.title" />
</div>
<div class="form-group col-md-6">
  <label>Страна:</label>
  <select class="form-control" ng-model="newTour.country_id.objectId" ng-options="country.objectId as country.name for country in tourCountries">
  </select>
</div>
<div class="form-group col-md-4">
  <label>Место:</label>
  <select class="form-control" ng-model="newTour.placeId.objectId" ng-options="place.objectId as place.name for place in tourPlaces">
  </select>
</div>
<div class="form-group col-md-4">
  <label>Продолжительность:</label>
  <input type="number" class="form-control" ng-model="newTour.length" />
</div>
<div class="form-group col-md-4">
  <label for="exampleInputAmount">Цена (в долларах)</label>
  <div class="input-group">
    <div class="input-group-addon">&#8381;</div>
    <input type="number" class="form-control" ng-model="newTour.price" placeholder="Стоимость">
    <div class="input-group-addon">.00</div>
  </div>
</div>
<div class="form-group col-md-12">
  <label>Описание:</label>
  <textarea class="form-control" rows="3" ng-model="newTour.text"></textarea>
</div>
</form>
<div class="pull-right">
<button type="button" class="btn btn-info" ng-click="addTour()">Сохранить</button>
<button type="button" class="btn btn-default" ng-click="hideFormForNew()">Отмена</button>
</div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Страна</th>
      <th>Место</th>
      <th>Продолжительность</th>
      <th>Описание</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody ng-repeat="tour in tours">
    <tr ng-hide="tour.showEditForm">
      <td><a ng-href="/admin/tours/{{tour.objectId}}">{{tour.title}}</a></td>
      <td>{{tourCountry(tour)}}</td>
      <td>{{tourPlace(tour)}}</td>
      <td>{{tour.length}}</td>
      <td>{{tour.text}}</td>
      <td>{{tour.price}}</td>
    </tr>
    <tr ng-hide="tour.showEditForm">
      <td colspan="4">
        <button type="button" class="btn btn-xs btn-info" ng-click="edit(tour)">Редактировать</button>
        <button type="button" class="btn btn-xs btn-danger" ng-click="delete(tour)">Удалить</button>
      </td>
    </tr>
    <tr ng-show="tour.showEditForm">
      <form>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="tour.title" />
          </div>
        </td>
        <td>
          <select class="form-control" ng-model="tour.country_id.objectId" ng-options="country.objectId as country.name for country in tourCountries">
          </select>
        </td>
        <td>
          <select class="form-control" ng-model="tour.place.objectId" ng-options="place.objectId as place.name for place in tourPlaces">
          </select>
        </td>
        <td>
          <div class="form-group">
            <input type="number" class="form-control" ng-model="tour.length" />
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="tour.text" />
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="tour.price" />
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-xs btn-info" ng-click="update(tour)">Сохранить</button>
          <button type="button" class="btn btn-xs btn-default" ng-click="cancelEdit(tour)">Отмена</button>
        </td>
      </form>
    </tr>
  </tbody>
</table>
