<h1>{{title}}</h1>
<form class="form-inline">
	<div class="form-group">
	  <label>Название:</label>
	  <input type="text" class="form-control" ng-model="newCountry.name" />
	</div>
	<button type="submit" class="btn btn-default" ng-click="addCountry()">Добавить страну</button>
</form>
<br>
<div ng-repeat="country in countries">
	<h4 title="Кликните, чтобы отредактировать" ng-click="showEditForm(country)" ng-hide="country.edit">{{country.name}}</h4>
	<form class="form-inline" ng-show="country.edit">
		<div class="form-group">
		  <input type="text" class="form-control" ng-model="country.name" />
		</div>
		<button type="submit" class="btn btn-primary" ng-click="hideEditForm(country)">Сохранить</button>
	</form>
	<br>
</div>
<h4><a ng-href="/">Назад</a></h4>